{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="card mb-4 p-4 has-text-weight-bold is-size-4">
            <a class="button has-text-left is-danger" href="{% url 'store:store' %}">Back to main page</a>
            <a href="{% url 'store:create_order' %}">chekout</a>
            <hr>
            <div class="columns has-text-centered">
                <div class="column">
                    <div class="content">Items: {{ total_quantity }}</div>
                </div>
                <div class="column">
                    <div class="content">Total: {{ total_price }} sum</div>
                </div>
            </div>
        </div>
        <div class="card p-5">
            <div class="content">
                <table class="table has-text-centered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td>
                                <img src="{{ item.product.image.url }}" alt="" width="100" height="100">
                            </td>
                            <td>{{ item }}</td>
                            <td>{{ item.product.price }} sum</td>
                            <td>
                                {{ item.quantity }}
                                <div class="quantity ml-3">

                                    <a href="{% url 'store:edit_cart_item' item.pk %}?action=add">
                                        <img src="" class="arrows" width="20px" height="20px" alt="add rasmi bulishi kerak">
                                    </a>
                                    
                                      
                                    <a href="{% url 'store:edit_cart_item' item.pk %}?action=take">
                                       <svg xmlns="http://www.w3.org/2000/svg" wid fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="size-2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3" />
                                      </svg>
                                    </a>
                                </div>
                            </td>
                            <td>{{ item.total_price }} sum</td>
                            <td>
                                <a href="{% url 'store:delete_cart_item' item.pk %}"
                                   style="font-size: 20px; color: black">
                                    <ion-icon name="trash-outline">del</ion-icon>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}