
{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section">
    <div class="tile is-ancestor is-centered">
        <div class="tile is-parent is-4">
            <div class="box">
                <figure class="image">
                    <img src="{{ product.image.url }}" width="300px" alt="">
                </figure>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="tile is-child">
                <div class="box">
                    <h1 class="title">
                        {{ product.title }}
                    </h1>
                    <hr>
                    <p class="subtitle is-6">
                        {{ product.description }}
                    </p>
                    <h1 class="title mt-1 is-4">{{ product.price }}$</h1>
                    <p class="subtitle mt-1 is-6">Количество:</p>
                    <div class="level">
                        <div class="level-right">
                            <div class="level-item">
                                <button id="minus" class="button is-rounded is-small" onclick="minus()">–</button>
                            </div>
                            <div class="level-item">
                                <form action="" id="order">
                                    <input type="text" class="input" value="0" name="count">

                                    <button type="submit" class="button is-info">Оформить заказ</button>
                                </form>
                            </div>
                            <div class="level-item">
                                <button id="plus" class="button is-rounded is-small" onclick="plus()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <form class="form" action="{% url 'store:leave_comment' product.pk %}" method="POST">
            
        {% csrf_token %}
            <textarea style="width: 170px;height: 45px;" class="textarea" id="comment" name="comment_text" cols="10" rows="1" aria-required="true" placeholder="Оставьте комментарий"></textarea>
            <br><br>
            <button class="btn btn-primary" type="submit" >commentni qo'shish</button>
            <a href="{% url 'store:store'  %}" style="margin-bottom: 15px;text-decoration: none;color: white ;"  >bosh sahifaga o'tish</a>
            
            {% for comment in product.comments.all %}
                <p style="margin-left: 6px;margin-top: 30px;" class=""><i>{{comment.author}} </i>{{comment.comment_text}}</p> <hr>
            {% endfor %}
        </form>


</section>

    <script>
        let form = document.querySelector('#order')
        let minusButton = document.querySelector('#minus')

        function plus (){
            form.count.value++
            minusButton.removeAttribute('disabled')
        }

        function minus() {
            if (form.count.value > 0) {
                form.count.value--
            } else {
                minusButton.setAttribute('disabled', '')
            }
        }
    </script>
{% endblock %}