




    {% block content %}
<div class=" is-flex is-justify-content-space-around"> 
<form method="POST"  action="{% url 'register'%}">
    
    {%csrf_token%}
    <label for="">{{form.username.label}}</label>
    <div style="width: 350px;  ">{{form.username}}</div> <br>
    <label for="">{{form.email.label}}</label>
    <div style="width: 350px;">{{form.email}}</div> <br>
    <label for="">{{form.password1.label}}</label>
    <div style="width: 350px;">{{form.password1}} </div> 
    <p style="font-size: 10px; color: brown;">8 ta dan kup parol va belgi bulsin</p><br>
    <label for="">{{form.password2.label}}</label>
    <div style="width: 350px; ">{{form.password2}} </div> 
    <p style="font-size: 10px; color: brown;">8 ta dan kup parol va belgi bulsin</p><br>
    <button class="button is-danger">Ro'yhatdan otish</button>
    <button class="button"> 
        <a href="">
            Asosoiy sahifa
        </a>
    </button>
    <button class="button ">
        <a href="{% url 'login' %}">
        Login
    </a>
    </button>


</form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

{% endblock%}